@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez Pizza !</h1>
    <p>Des pizza à livrer ou à emporter ! Commander tout de suite : <a asp-area="" asp-controller="Commande" asp-action="Create">Créer une commande</a></p>
</div>
